# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
cmake-*
CMakeCache.txt
CMakeSettings.json
CMakeUserPresets.json
Testing

# Conan
.conan

# Visual Studio
.vs
build
CMakeFiles
Debug
Release
out
x64
*.dir
*.sln
*.vcxproj*
*.cmake

# VS Code
.vscode

# Output
output
